- if fb[:user]
  Hi,
  %fb:profile-pic{:uid => fb[:user]}
  %fb:name{:uid => fb[:user], :useyou => 'false', :firstnameonly => 'true'}
  !
  %br/
  Do you want to <a href="javascript:FB.Connect.logoutAndRedirect('/')">logout</a>?
- else
  %h2 Anmeldung 
  
  %p Bitte melde dich an. Du kannst deinen Facebook-Account benutzen!
  %fb:login-button{:onlogin => 'document.location.reload(true)'}
