<!DOCTYPE html>
<html lang="de">
<head>
<title>Remember to replace the page title!</title>
<meta charset="utf-8">
<meta name="description" content="HTML5 Starter Pack by Sickdesigner.com">
<link rel="Shortcut Icon" type="image/ico" href="img/favicon.png">
<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/queries/netbooks-tablets.css" type="text/css" media="screen and (max-width: 1007px)" />            

<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>     

<!--[if IE 7]><link rel="stylesheet" href="css/ie/ie7.css" type="text/css" media="screen"><![endif]-->
<!--[if lt IE 7]><link rel="stylesheet" href="css/ie/ie6.css" type="text/css" media="screen"><![endif]-->
</head>
<body>
<div id="wrap">
<header>
<div class="inside">
<h1>Html5<span>Starter Pack</span></h1> <!-- This line for @font-face presentational purposes only -->
<nav>
</nav>
</div>
</header>
<article>
<section>
<div class="inside">
=yield
</div>
</section>  
</article>
<aside>
<div class="inside">
</div>
</aside>
</div>
<footer>
<div class="inside">
</div>
</footer>        
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
